{% extends 'base.html' %}
{% load static %}

{% block title %}Beauty City - Главная{% endblock %}

{% block content %}
	<section id="service">
		<div class="container">
			<div class="service">
				<div class="breadCrumbs">
					<a href="#" class="breadCrumbs__item">На главную</a>
				</div>
				<div class="service__block">
					<h1 class="service__title">Запись на услугу</h1>
					<button class="service__btn btn">Запись по телефону</button>
				</div>

                <form action="{% url 'serviceFinally' %}" method="post">{% csrf_token %}
<!--				<form class="service__form">-->
				    <!-- Выбор салона -->
					<div class="service__form_block service__salons">
					    <button id="select-salon-btn" class="accordion">(Выберите салон)</button>
					    <div id="salon-panel" class="panel">
							{% for salon in salons %}
						        <div data-id="{{ salon.id }}" class="accordion__block accordion__block_salon fic">
						            <div class="accordion__block_intro">{{ salon.title }}</div>
						            <div class="accordion__block_address">{{ salon.address }}</div>
						        </div>
					        {% endfor %}
					    </div>
				    </div>

				    <!-- Выбор услуги -->
				    <div class="service__form_block service__services">
					    <button id="select-service-btn" class="accordion">(Выберите услугу)</button>
						<div id="service-panel" class="panel">
							{% for service_type in service_types %}
								<button data-type="{{ service_type.id }}" class="accordion">{{ service_type }}</button>
								<div class="panel">
									<div class="accordion__block_items">
										{% for service in service_type.services.all %}
											<div data-id="{{ service.id }}" class="accordion__block_item fic">
											<div class="accordion__block_item_intro">{{ service }}</div>
											</div>
										{% endfor %}
									</div>
								</div>
							{% endfor %}
						</div>
				    </div>

				    <!-- Выбор мастера -->
					<div class="service__form_block service__masters">
					    <button id="select-master-btn" class="accordion">(Выберите мастера)</button>
					        <div id="master-panel" class="panel"></div>

                    </div>
				</form>

			</div>
		</div>
	</section>
	<section id="time">
		<form action="{% url 'serviceFinally' %}" method="post">{% csrf_token %}
			<div class="container">
				<div class="time">
					<h2 class="time__title">Выберите время</h2>
					<div class="time__block">
						<div class="row">
							<div class="col-md-4">
								<div id="datepickerHere"></div>
							</div>
							<div class="col-md-8">
								<div class="time__elems">
									<div class="time__items">
										<div class="time__elems_intro">Утро</div>
										<div class="time__elems_elem fic">
											<button data-time="10:00" class="time__elems_btn">10:00</button>
											<button data-time="10:30" class="time__elems_btn">10:30</button>
										</div>
									</div>
									<div class="time__items">
										<div class="time__elems_intro">День</div>
										<div class="time__elems_elem fic">
											<button data-time="12:00" class="time__elems_btn">12:00</button>
											<button data-time="12:30" class="time__elems_btn">12:30</button>
											<button data-time="15:00" class="time__elems_btn">15:00</button>
											<button data-time="16:30" class="time__elems_btn">16:30</button>
										</div>
									</div>
									<div class="time__items">
										<div class="time__elems_intro">Вечер</div>
										<div class="time__elems_elem fic">
											<button data-time="17:00" class="time__elems_btn">17:00</button>
											<button data-time="18:30" class="time__elems_btn">18:30</button>
											<button data-time="19:00" class="time__elems_btn">19:00</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="time__btns">
						<div class="row">
							<div class="col-md-12">
								<a href="{% url 'serviceFinally' %}"><button class="time__btns_home">Далее</button></a>
								<a href="{% url 'index' %}"><button class="time__btns_home">На главную</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>
{% endblock %}